<!DOCTYPE html>
<html>
  <head>
    <title>MSM Queries</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <style>
      body {
      background-color: #FFCAD4;
      color: #9D8189;
      }

      body a {
        text-decoration: none;
        color: black;
      }
    </style>
  </head>

  <body>
    <nav>
      <a href="/">
        Home
      </a>
    </nav>

    <%= yield %>
  </body>
</html>
